<form action="/api/transactions" method="POST" id="add_transaction">
    <div class="new_transaction">
        <div class="form-group">
            <label for="Yearofissue">Yearofissue</label>
            <input type="hidden" name="id" value="">
            <input type="datetime-local" name="Yearofissue" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="Price">Price</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="Price" value="" placeholder="$$$">
        </div>
        <div class="form-group">
            <label for="RentalCost">RentalCost</label>
            <input type="text" name="RentalCost" value="" placeholder="$$$">
        </div>
        <div class="form-group">
            <label for="Type">Type</label>
            <input type="text" name="Type" value="" placeholder="Clean">
        </div>
        <div class="form-group">
            <label for="Brand">Brand</label>
            <input type="text" name="Brand" value="" placeholder="Lada">
        </div>
        

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>