<form action="/api/workers" method="POST" id="add_worker">
    <div class="new_worker">
        <div class="form-group">
            <label for="Surname">Surname</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="Surname" value="" placeholder="Subbotin">
        </div>
        <div class="form-group">
            <label for="Surname">Name</label>
            <input type="text" name="Name" value="" placeholder="Alexey">
        </div>
        <div class="form-group">
            <label for="Surname">Patronymic</label>
            <input type="text" name="Patronymic" value="" placeholder="Stepanovic">
        </div>
        <div class="form-group">
            <label for="Surname">Adress</label>
            <input type="text" name="Adress" value="" placeholder="Ivanovo">
        </div>
        <div class="form-group">
            <label for="Surname">Phone</label>
            <input type="text" name="Phone" value="" placeholder="89247635200">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>